
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a href="/Customers/Create?currentUrl=/Payments/MakePayment&noPassword=true">Üye Olmadan Devam Et</a>
<a href="/Customers/LogIn?currentUrl=/Payments/MakePayment">Üye Girişi</a>
<a href="/Customers/Create?currentUrl=/Payments/MakePayment">Üye Ol</a>